<div id="acceptTermsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close cancelBtn" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{Localization.paymentProcessing.acceptTerms.title}}</h3>
  </div>
  <div class="modal-body">
    <div class="content">...</div>
    <div class="accept">
      <label class="checkbox" for="acceptBox">
        <input type=checkbox id="acceptBox" value="yes" disabled=disabled/>
        {{Localization.paymentProcessing.acceptTerms.checkboxLabel}}
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn cancelBtn" data-dismiss="modal" aria-hidden="true">{{Localization.paymentProcessing.acceptTerms.cancelButtonLabel}}</button>
    <button class="btn continueBtn btn-primary" disabled=disabled>{{Localization.paymentProcessing.acceptTerms.continueButtonLabel}}</button>
  </div>
</div>