<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <p class="pull-left navbar-text">{{Localization.general.copyright}} 
            {{!    <span class="max-480">max-480</span>
                <span class="max-767">max-767</span>
                <span class="min-768-max-979">min-768-max-979</span>
                <span class="min-1200">min-1200</span>}}
            </p>
            <ul class="nav pull-right">
                <li><a href="{{Localization.general.termsLink}}" target="_blank">{{Localization.general.termsText}}</a></li>
            </ul>
        </div>
    </div>
</div>
