<p>{{Localization.roomReservation.roomTypeSelection.instructions}}</p>
<p>{{Localization.roomReservation.roomTypeSelection.customerCustomTextHeader}}</p>
<div class=" span10 offset1">
    <div class="accordion " id="roomTypeaccordion">
        {{#pmsRoomTypes}}
        <div class="accordion-group">
            <div class="accordion-heading">
                <{{#unless ../Customization.roomsBooking.autoExpandRateRoomResults}}a data-toggle="collapse" class="accordion-toggle"{{else}}div class="accordion-toggle disabled"{{/unless}} data-parent="#roomTypeaccordion" href="#collapse{{stripChars PMSRoomType.PMSRoomTypeId}}">
                    <span class="pull-left-ie7">{{PMSRoomType.PMSRoomTypeDesc}}</span>
                    <span class="pull-right btn btn-mini disabled btn-info">{{#if ../Customization.roomsBooking.suppressDailyRate}}{{../../Localization.general.currencyPrefix}}{{toFixed TotalStayRate 2}}{{../../Localization.general.currencyPostfix}}{{../../Localization.roomReservation.roomTypeSelection.roomTypeTotalRateLabel}}{{else}}{{../../Localization.general.currencyPrefix}}{{toFixed AverageRate 2}}{{../../Localization.general.currencyPostfix}}{{../../Localization.roomReservation.roomTypeSelection.roomTypeRateLabel}}{{/if}}
                    </span>
                </{{#if ../Customization.roomsBooking.autoExpandRateRoomResults}}div{{else}}a{{/if}}>
            </div>
            <div id="collapse{{stripChars PMSRoomType.PMSRoomTypeId}}" class="accordion-body {{#equal PMSRoomType.PMSRoomTypeId ../showitem}}in {{else}}{{#if ../../Customization.roomsBooking.autoExpandRateRoomResults}}in {{/if}}{{/equal}}collapse">
                <div class="accordion-inner">
                    <div class="row">
                        {{#if PMSRoomType.PMSRoomTypeImage}}
                        <div class="span3 pagination-centered">
                            <img width="270" src="{{PMSRoomType.PMSRoomTypeImage}}" alt="">
                        </div>
                        <div class="span5">
                        {{else}}
                        <div class="span7">
                        {{/if}}
                            <p>{{{nl2br PMSRateDesc}}}</p>
                        </div>
                        <div class="span1">
                            <a class="btn btn-primary" style="margin-top:4px" data-loading-text="{{../Localization.general.progressIndicatorMessage}}"
                            {{#if ../Customization.roomsBooking.roomSelection}}
                                href="#/roomsBooking/rooms/{{urlEscape PMSRoomType.PMSRoomTypeId}}"
                            {{else}}
                                href="#/roomsBooking/confirm/{{urlEscape PMSRoomType.PMSRoomTypeId}}"
                            {{/if}}
                                    >{{../Localization.general.continueProcessButtonLabel}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/pmsRoomTypes}}
    </div>
</div>
<div class=" span10 ohyeah offset1">
    <div class="accordion " id="packageSelectionaccordion3">
        <p>{{Localization.roomReservation.roomTypeSelection.customerCustomTextFooter}}</p>
    </div>
</div>
