<p><strong>{{Localization.general.login.changePassword.title}}</strong></p>
<p>{{Localization.general.login.changePassword.description}}</p>
<form id="userChangePasswordForm" class="form-horizontal  span6 offset2">
    <div class="well span6">
        <p><strong>{{Localization.general.login.changePassword.title}}</strong></p>

        <div class="control-group">
            <label class="control-label" for="userEmailAddress">{{Localization.general.login.passwordReset.emailLabel}}</label>

            <div class="controls">
                <input type="text" id="userEmailAddress" class="required email" value=""/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"
                   for="userOldPassword">{{Localization.general.login.passwordReset.oldPasswordLabel}}</label>

            <div class="controls">
                <input type="password" id="userOldPassword" type="password" class="required" value=""/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"
                   for="userNewPassword1">{{Localization.general.login.passwordReset.newPassword1Label}}</label>

            <div class="controls">
                <input type="password" id="userNewPassword1" type="password" class="required" value=""/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"
                   for="userNewPassword2">{{Localization.general.login.passwordReset.newPassword2Label}}</label>

            <div class="controls">
                <input type="password" id="userNewPassword2" type="password" class="required" value=""/>
            </div>
        </div>
    </div>
    <div class="well span6">
        <div class="control-group">
            <div class="controls">
                <a id="userChangeCancel" class="btn" href="#">{{Localization.newUser.cancelButtonLabel}}</a>
                <a id="userChangeSubmit" class="btn btn-primary disabled" href="#">{{Localization.general.login.changePassword.commitButton}}</a>
            </div>
        </div>
    </div>
</form>
