<p><strong>{{Localization.general.login.passwordReset.title}}</strong></p>
<p>{{Localization.general.login.passwordReset.description}}</p>
<form id="userResetPasswordForm" class="form-horizontal  span6 offset2" action="#" method="get">
    <div class="well span6">
        <p><strong>{{Localization.general.login.passwordReset.title}}</strong></p>

        <div class="control-group">
            <label class="control-label" for="userEmailAddress">{{Localization.general.login.passwordReset.emailLabel}}</label>
            <div class="controls">
                <input type="text" id="userEmailAddress" class="required email" value="{{emailaddress}}"/>
            </div>
        </div>
    </div>
    <div class="well span6">
        <div class="control-group">
            <label class="control-label" for="userResetSubmit"></label>
            <div class="controls">
                <a id ="userResetCancel" class="btn" href="#">{{Localization.general.login.passwordReset.cancelButtonLabel}}</a>
                <a id ="userResetSubmit" class="btn disabled" href="#">{{Localization.general.login.passwordReset.resetButtonLabel}}</a>
            </div>
        </div>
    </div>
</form>
